:root {
  --navyblue: #2e2f42;
  --slate: #434455;
  --iris: #4d5ae5;
  --white: #fff;
  --cloud: #f4f4fd;
  --hover-blu: #404bbf;
  --CORNFLOWER: #e7e9fc;
}
/* Base  */
.body {
  font-family: Roboto, sans-serif;
  color: var(--slate);
  background-color: var(--white);
  font-style: normal;
  font-size: 16px;
}
a,
a:hover,
a:active {
  text-decoration: none;
}
ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

button {
  font-family: inherit;
}
/* End base  */
.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
}
.container {
  max-width: 1158px;
  margin: 0, auto;
  padding: 0, 32px;
}

/* Header */
.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  border-bottom: 1px solid var(--CORNFLOWER);
}
.header-address {
  display: flex;
  gap: 40px;
}
.header-nav {
  display: flex;
  gap: 40px;
  align-items: center;
  flex-grow: 1;
}

.logo {
  color: var(--iris);
  align-items: center;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17em;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: flex;
}
.logo-accent {
  color: var(--navyblue);
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17em;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: flex;
}

.nav-list {
  display: flex;
  gap: 40px;
  flex-grow: 1;
  justify-content: center;
}
.nav-link {
  display: inline-block;
  padding: 24px, 0;
  color: var(--navyblue);
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;
}
.adress-title {
  background-color: var(--white);
  font-style: normal;
}
.adress-link {
  color: var(--slate);
  font-style: normal;
  font-weight: 400;
  line-height: 1.5em;
  letter-spacing: 0.02em;
}
.nav-link:hover,
.nav-link:focus,
.adress-link:hover,
.adress-link:focus {
  color: var(--hover-blu);
}

/* Hero */
.hero-inner {
  background-color: var(--navyblue, #2e2f42);
  padding: 190px 470px 290px 470px;
}

.hero-title {
  max-width: 496px;
  color: var(--white);
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07em;
  letter-spacing: 0.02em;
  margin-bottom: 48px;
}
.hero-action {
  display: flex;
  align-items: center;
}
.hero-button {
  color: var(--white);
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5em;
  letter-spacing: 0.04em;
  background-color: var(--iris);
  cursor: pointer;
}
.hero-button:focus {
  color: var(--white);
  background-color: var(--hover-blu);
}
.hero-button:hover {
  color: var(--white);
  background-color: var(--hover-blu);
}

/* Advantage  */
.advantage-inner {
  background: var(--cloud);
}
.advantage-list {
  display: flex;
  gap: 24px;
}
.advantage-title {
  color: var(--navyblue);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2em;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.advantage-text {
  color: var(--slate);
  font-weight: 400;
  line-height: 1.5em;
  letter-spacing: 0.02em;
  margin-bottom: 120px;
}

/* Team  */
.team-inner {
  background-color: var(--cloud);
}
.team-list {
  display: flex;
  gap: 24px;
}
.team-item {
  background-color: var(--white);
  flex-basis: calc((100%-72px) / 4);
}
.team {
  display: inline-flex;
  padding-bottom: 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
}
.team-title-section {
  color: var(--navyblue);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11em;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.team-title {
  color: var(--navyblue);
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2em;
  letter-spacing: 0.02em;
}
.team-text {
  color: var(--slate);
  text-align: center;
  font-weight: 400;
  line-height: 1.5em;
  letter-spacing: 0.02em;
}
/* Portfolio */
.portfolio-inner {
  background-color: var(--white);
}
.portfolio-title-section {
  color: var(--navyblue);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11em;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.portfolio-list {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}
.portfolio {
  display: flex;
  width: 360px;
  height: 420px;
  padding-bottom: 0px;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  flex-shrink: 0;
  border: 1px solid var(--CORNFLOWER);
}
.portfolio-title {
  color: var(--navyblue);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2em;
  letter-spacing: 0.02em;
}
.portfolio-text {
  color: var(--slate);
  font-family: Roboto, sans-serif;
  font-weight: 400;
  line-height: 1.5em;
  letter-spacing: 0.02em;
}
/* Footer  */
.footer-inner {
  background: var(--navyblue);
  display: inline-block;
}
.footer-text {
  color: var(--cloud);
  font-weight: 400;
  line-height: 1.5em;
  letter-spacing: 0.02em;
}
.section {
  padding: 120px, 0;
}
.logo-footer {
  color: var(--iris);
  align-items: center;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17em;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: flex;
}
.logo-accent-footer {
  color: var(--cloud);
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17em;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
