:root {
  --navyblue: #2e2f42;
  --slate: #434455;
  --iris: #4d5ae5;
  --white: #fff;
  --cloud: #f4f4fd;
  --hover-blu: #404bbf;
}

.body {
  font-family: Roboto, sans-serif;
  color: var(--slate);
  background-color: var(--white);
  font-style: normal;
  font-size: 16px;
}
a,
a:hover,
a:active {
  text-decoration: none;
}
ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}
img {
  display: block;
}
.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
}
.container {
  max-width: 1440px;
  margin: 0, auto;
  padding: 0, 32px;
}
/* Header */
.logo {
  color: var(--iris);
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17em;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.logo-accent {
  color: var(--navyblue);
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17em;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.logo-accent-footer {
  color: var(--cloud);
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17em;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.nav-link {
  color: var(--navyblue);
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;
}
.adress-title {
  background-color: var(--white);
  font-style: normal;
}
.adress-link {
  color: var(--slate);
  font-style: normal;
  font-weight: 400;
  line-height: 1.5em;
  letter-spacing: 0.02em;
}
.nav-link:hover,
.nav-link:focus,
.adress-link:hover,
.adress-link:focus {
  color: var(--hover-blu);
}

/* Hero */
.hero-section {
  background-color: var(--navyblue, #2e2f42);
  padding: 190px 472px 0 472px;
}
.hero-title {
  max-width: 496px;
  color: var(--white);
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07em;
  letter-spacing: 0.02em;
  margin-bottom: 48px;
}
.hero-button {
  color: var(--white);
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5em;
  letter-spacing: 0.04em;
  background-color: var(--iris);
  cursor: pointer;
}
.hero-button:focus {
  color: var(--white);
  background-color: var(--hover-blu);
}
.hero-button:hover {
  color: var(--white);
  background-color: var(--hover-blu);
}

/* Advantage  */
.advantage-section {
  background: var(--cloud);
}
.advantage-title {
  color: var(--navyblue);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2em;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.advantage-text {
  color: var(--slate);
  font-weight: 400;
  line-height: 1.5em;
  letter-spacing: 0.02em;
  margin-bottom: 120px;
}

/* Team  */
.team-section {
  background-color: var(--cloud);
}
.team-list {
  background-color: var(--white);
}
.team-title-section {
  color: var(--navyblue);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11em;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.team-title {
  color: var(--navyblue);
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2em;
  letter-spacing: 0.02em;
}
.team-text {
  color: var(--slate);
  text-align: center;
  font-weight: 400;
  line-height: 1.5em;
  letter-spacing: 0.02em;
}
/* Portfolio */
.portfolio-section {
  background-color: var(--white);
}
.portfolio-title-section {
  color: var(--navyblue);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11em;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.portfolio-title {
  color: var(--navyblue);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2em;
  letter-spacing: 0.02em;
}
.portfolio-text {
  color: var(--slate);
  font-family: Roboto, sans-serif;
  font-weight: 400;
  line-height: 1.5em;
  letter-spacing: 0.02em;
}
/* Footer  */
.footer {
  background: var(--navyblue);
}
.footer-text {
  color: var(--cloud);
  font-weight: 400;
  line-height: 1.5em;
  letter-spacing: 0.02em;
}
.section {
  padding: 120px;
}
